# Importing Libraries

In [21]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [22]:
df_ords_prior = pd.read_csv(r'/Users/melaniehouston/Library/CloudStorage/OneDrive-Personal/Career Foundry/ 04 2024 Instacart Basket Analysis/02 Data/Original Data/orders_products_prior.csv', index_col = False)

In [23]:
path = r'/Users/melaniehouston/Library/CloudStorage/OneDrive-Personal/Career Foundry/ 04 2024 Instacart Basket Analysis'

In [24]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data','Original Data', 'orders_products_prior.csv'), index_col = False)

In [25]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [26]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [27]:
#check the output, first 5 rows
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [28]:
#check the output, first 5 rows
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,orders_time_of_day,days_since_prior_order
0,0,0,2539329,1,prior,1,2,8,11.114836
1,1,1,2398795,1,prior,2,3,7,15.000000
2,2,2,473747,1,prior,3,3,12,21.000000
3,3,3,2254736,1,prior,4,4,7,29.000000
4,4,4,431534,1,prior,5,4,15,28.000000

In [29]:
#Show the number of rows and columns
df_ords_prior.shape

(32434489, 4)

In [30]:
#Show the number of rows and columns
df_ords.shape

(3421083, 9)

# Merging df_ords_prior with df_ords

In [31]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [32]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,orders_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,11.114836,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,11.114836,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,11.114836,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,11.114836,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,11.114836,26405,5,0,both

In [33]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [34]:
#Export combined orders and products data to pickle
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))